body{
    background-color:#FBD1A2;  /*rgb(220, 221, 189);*/
    animation: 10s cubic-bezier(0.25, 1, 0.30, 1) circle-in-center both;
    margin-top:60px;
}
header{
    background-color:#FC9F5B;/*rgb(241, 211, 41);*/
    height: 200px;
    width: 100vw;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    box-sizing: border-box; 
  }


header div{
    display: block;
    height: 100%;
    width: 80%;
}

nav{
    display: inline;
    float:right
}
nav ul{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

nav ul li{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    color:#FBD1A2;
    margin-top: 20px;
    margin-right: 40px;
    font-size: large;
    /*padding-top: 20px;*/
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: middle;
}

h1{
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    color:#FBD1A2;
    /*margin-top: 10px;
    padding-top: 20px;
    /padding-right: 20px;*/
    font-size: 30px;
    padding-left: 20px;
    margin: 10px 0;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .header-container {
      flex-direction: column; 
    }
  
    nav ul {
      text-align: center; 
    }
  
    nav ul li {
      display: block; 
      margin: 10px 0; 
    }
  
    h1 {
      font-size: 24px; 
    }
  }

.header-container{
    width: 70%;
}

.boton{
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    background-color: #ECE4B7;
    border:none;
    display: inline-block;
    color: rgb(59, 65, 18);
    border: 3px solid rgb(59, 65, 18);
    border-radius: 25px;
    font-size: 14px;
    padding: 10px 25px 10px 25px;
    margin-top: 20px;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 10px;
}


::placeholder {
    font-family: 'Roboto', sans-serif;
    color: rgb(59, 65, 18);
    font-weight:400;
  }

  @keyframes circle-in-center {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(125%);
    }
  }
  
  [transition-style="in:circle:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
  }

  nav ul li a:active {
    color:#FBD1A2; 
}

a:link {
  color:#FBD1A2; 
}

a:visited {
  color: #FBD1A2;
}



.table-container{
    padding-top: 5px;
    width: 90%;
    border-collapse: collapse;
    background-color: #FDE2C4;
    
    
    padding: 1rem;
}
.table-container table {
    width: 100%;
    margin: 0 auto;
}

.table-container table caption,
.table-container table th,
.table-container table td {
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    color: rgb(59, 65, 18);
    text-align: left;
}

.table-container table caption,
.table-container table th {
    font-size: large;
    font-weight: 500;
}

.table-container table caption {
    background: #d8a56a;
}

.table-container table tr:nth-of-type(2n) {
    background-color: rgb(246, 215, 179);
}

@media (max-width: 650px){
    th{
        display: none;
    }
    td{
        display: block;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
        padding: 0.5rem 1rem;
    }

    td:first-child{
        padding-top: 1rem;

    }
    td:last-child{
        padding-top: 1rem;
        
    }

    td::before{
        content: attr(data-cell) ": ";
        font-weight: 700;
    }
}

input{
  padding:1rem;
  font-family: 'Roboto', sans-serif;
  font-size: small;
  color: rgb(59, 65, 18);
  text-align: center;
  background-color: #FEF3EB;
  width: 100%;
  border-color: #FB7D23;

}

.busqueda{
  padding: 10px;
  width: 25%;
  
}

.check{
  display: flex;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(59, 65, 18);
}

h3{
  display: inline-flex;
    font-family: 'Roboto', sans-serif;
    font-weight:600;
    color:rgb(59, 65, 18);
    font-size: large;
    padding-left: 20px;
    margin: 10px 0;
    vertical-align: middle;
    align-items: center;
}

p{
  display: inline-flex;
    font-family: 'Roboto', sans-serif;
    font-weight:600;
    color:rgb(59, 65, 18);
    font-size: medium;
    padding-left: 20px;
    margin: 10px 0;
    vertical-align:top;
    align-items: center;
    size: 50%;
}

.preguntas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; 
  width: 75%;
  margin: 0 auto; 
  padding: 20px;
  background-color: #FDE2C4; 
}

